.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: auto;
}

.title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px 15px;
  order: 0;
  background-color: #023047;
  padding-left: 10px;
}


.title {
  color: #edf2f4;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  order: 0;
}

.platform {
  color: #edf2f4;
  font-weight: bold;
  font-size: 1.2em;
  order: 0;
}

.rating-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  gap: 10px;
  margin-bottom: 0;
  margin-top: 3px;
}

#rating {
  /* color: rgb(255, 188, 0); */
  color: #ffb703;
  font-weight: bold;
  font-size: 1.2em;
  order: 0;
}

.dynamic-star-rating {
  order: 1;
  margin-top: 3px;

}


.description-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  order: 1;
  padding-left: 20px;
}

.instructor {
  color: rgb(53, 51, 51);
  font-weight: 900;
  font-size: 0.9em;
  text-decoration: underline;
  order: 1;
}

.description {
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-size: 1.4em;
  word-spacing: 2px;
  order: 2;
  margin-bottom: 0;
}

.price {
  color: rgb(255, 188, 0);
  font-weight: bold;
  font-size: 1.1em;
  order: 4;
  margin-top: 2px;
  margin-bottom: 5px;
}