.courses-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px 10px;
  border: 1px solid black;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  margin-left: 500px;
  margin-right: 500px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}