.footer-container {
  border-top: 1px solid black;
  text-align: center;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}