.navbar-expand-sm {
  display: flex;
  flex-direction: row;
  background-color: #e4e8eb;
}

#header-container {
  padding: 1rem;
}

#header {
  font-size: 29px;
  padding: 0;
  margin-right: 2rem;
  margin-bottom: 0;
}

#bar {
  width: 1000px;
  height: 35px;
  /* padding: 0;
  padding-right: 0.5rem; */
  font-size: 0.9rem;
  margin-right: 1rem;
  border-radius: 10px;
}


#but {
  border-radius: 10px;
  height: 35px;
  padding: 0px 10px;
}