.search-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 8px;
}

/* #bar {
  width: 500px;
  height: 21px;


} */


/* #but {
  background-color: #0074D9;
  color: #f2f2f2;
  width: 70px;
  height: 25px;
  border: none;
  cursor: pointer;
} */