#bar {
  width: 1000px;
  height: 48px;
  font-size: 0.9rem;
  margin-right: 1rem;
  border-radius: 10px;
}


#but {
  border-radius: 10px;
  height: 48px;
  width: 75px;
  padding: 0px 10px;
  font-size: 1.2rem;
  background-color: rgba(247, 42, 42, 0.856);
  border-color: rgba(247, 42, 42, 0.856);
}